.card {
  box-shadow: 0px 0.5px 1.2px rgba(0, 0, 0, 0.003),
    0px 1.2px 2.7px rgba(0, 0, 0, 0.004), 0px 2px 4.6px rgba(0, 0, 0, 0.006),
    0px 3px 6.9px rgba(0, 0, 0, 0.007), 0px 4.4px 10px rgba(0, 0, 0, 0.008),
    0px 6.2px 14.2px rgba(0, 0, 0, 0.01), 0px 8.8px 20.1px rgba(0, 0, 0, 0.011),
    0px 12.8px 29.2px rgba(0, 0, 0, 0.013), 0px 19.7px 45px rgba(0, 0, 0, 0.016),
    0px 35px 80px rgba(0, 0, 0, 0.02);
  padding: 1rem;
}

.header {
  margin-top: 4rem;
}

.question-card {
  display: block;
}

.question {
  margin-top: 1rem;
}

.review {
  margin-right: 1.5rem;
}

.pointer {
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.question {
  font-size: 1.2rem;
}

.flex-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selected-option {
  background: #1dcf88d5 !important;
}

.timer {
  font-weight: bold;
  font-size: 1.2rem;
}
